/exemplos/exe1/nbproject/private/
/exemplos/exe1/build/
/exemplos/exe2/nbproject/private/
/exemplos/exe2/build/
/exemplos/exe3/nbproject/private/
/exemplos/exe3/build/
/atividade1/ProgramaPesquisa/nbproject/private/
/atividade1/ProgramaPesquisa/build/
/exemplos/EstudoServelet/nbproject/private/
/exemplos/EstudoServelet/build/
/atividade1/Pesquisa/nbproject/private/
/atividade1/Pesquisa/build/
/exemplos/WebApplication1/nbproject/private/
/exemplos/WebApplication1/build/
/exemplos/Imc/nbproject/private/
/exemplos/Imc/build/
