/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/*variables*/
:root {
  --main-color: white;
  --header-background-color: black;
  --footer-background-color: black;
  --boder-color: black;
}

/* main */
body {
  padding: 0;
  width: 100%;
  margin: 0;
  font-family: tahoma;
}

/* header */
.header-content {
  text-align: center;
  text-transform: uppercase;
  margin-top: 1%;
  padding: 2%;
  color: var(--main-color);
  background-color: var(--header-background-color);
}

/*main-content*/
.content {
  text-align: left;
  line-height: 3;
  margin-top: 10%;
  font-size: 120%;
}

fieldset {
  width: 50%;
  height: 250%;
  margin: auto;
  border: 1px solid var(--boder-color);
  background-color: rgb(197, 197, 197);
}

input {
  margin-left: 10px;
  border: 1px solid var(--boder-color);
  border-radius: 20px;
}

legend {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#botao {
  width: 150px;
  height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-color);
  background-color: rgb(39, 39, 39);
  cursor: pointer;
}

#botao:hover {
  background-color: rgb(163, 24, 24);
  transition: .3s;
}

p {
  text-align: center;
  margin-top: 0;
}

/*footer*/
#rodape {
  background-color: var(--footer-background-color);
  color: var(--main-color);
  text-align: center;
  font-size: small;
  padding: 5%;
  margin-top: 10%;
  bottom: 0px;
}